RewriteEngine on
RewriteCond %{HTTP_HOST} ^presidenciales.com.ar$ [OR]
RewriteCond %{HTTP_HOST} ^www.presidenciales.com.ar$ [OR]
RewriteCond %{HTTP_HOST} ^presidenciales.com.ar [NC]
RewriteRule ^(.*)$ http://www.presidenciales.com.ar/$1 [L,R=301]
RewriteCond $1 !^(index.php|assets|node_modules)
RewriteRule ^(.*)$ index.php?/$1 [L]