Header set Access-Control-Allow-Origin "http://localhost:9000"
Header set Access-Control-Allow-Origin "http://localhost:3000"
RewriteEngine on
RewriteCond $1 !^(index.php|assets)
RewriteRule ^(.*)$ index.php/$1 [L]